body {padding-top: 70px;background:url("../images/debut_dark.png") repeat scroll 0 0 #444;}
.clear{clear: both;}
.ovh{overflow: hidden;}
.close{font-size: 30px}

.copyright{background-color: #222222;color: #ffffff}

#book-table .table td{vertical-align: middle;}

#date-picker{margin-bottom: 10px}
#date-picker .datepicker {
  box-shadow: 2px 2px 2px 2px #000;
}
.datepicker td, .datepicker th{width: 30px}

#Validform_msg{font-size: 14px}