<div class="warp container" ng-controller="myordersDetailCtrl" >
	<h4 class="text-info text-left"><small>单号:</small>{{bookNo}}</h4>
	<hr>
	<div ng-repeat="dish in orderDetail.dishes" class="media">
		<img class="pull-left" ng-src="{{dish.photo ? dish.photo : 'http://placehold.it/95/F0F0F0'}}" class="media-object">
		<div class="media-body">
			<h5 class="media-heading">
				<span class="pull-right" target="ext"><i class="glyphicon glyphicon-cutlery"></i></span> 
				<strong ng-bind="dish.vch_dishname">菜式名称</strong>
			</h5>
			<small>做法:<span ng-bind="dish.vch_print_memo"></span></small>
			<br>
			<span ng-bind="'数量:'+dish.num_num" class="badge">0</span>
			<span ng-bind=" dish.num_price | currency:'￥' " class="badge">0</span>
			<br>
			<span class="badge">小计:{{dish.num_num*dish.num_price | currency:'￥'}}</span>
			<button ng-click="removeDish($index, dish.id, dish.int_id)" ng-show="!orderDetail.is_verified && !orderDetail.is_paid" class="pull-right btn btn-danger">删除</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<h4 class="pull-right text-danger text-right">合计:{{total() | currency:'￥'}}</h4>
		</div>
	</div>
</div>