<div class="warp container" ng-controller="dishListCtrl" >
	<div ng-repeat="dish in dishes" ng-hide="dish.warn" class="media">
		<a ng-href="#/dishes/{{dish.ch_dishno}}" class="pull-left">
			<img ng-src="{{dish.photo ? dish.photo : 'http://placehold.it/80/F0F0F0'}}" class="dish-list-img media-object img-responsive">
		</a>
		<a ng-href="#/dishes/{{dish.ch_dishno}}">
		<div class="media-body">
			<h5 class="media-heading">
				<span class="pull-right"><i class="glyphicon glyphicon-cutlery"></i></span> 
				<strong ng-bind="dish.vch_dishname">菜式名称</strong>
			</h5>
			<small></small>
			<br>
			<span ng-bind=" dish.num_price1 | currency:'￥' " class="badge">0</span>
		</div>
		</a>
	</div>
</div>