<div class="warp container" ng-controller="cartCtrl" >
	<h3><small>当前单号:</small> {{book.no}}</h3>
	<form name="cartForm" ng-submit="bookDish(cart)">
		<div class="row row-offcanvas row-offcanvas-right">
			<div class="table-responsive">
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>菜式</th>
							<th>数量</th>
							<th>操作</th>
						</tr>
						<tr ng-repeat="item in cart" ng-class-odd="'success'">
							<td>
								{{item.vch_dishname}} <span class="badge">{{item.price | currency:'￥'}}</span>
								<br>
								做法:{{item.vch_memo}}
							</td>
							<td><input name="nums" class="form-control col-xs-1" type="number" ng-model="item.nums" ng-pattern="/^[1-9]+\d*/" required></td>
							<td>
								<a ng-click="removeItem($index)" class="btn btn-danger">X</a>
							</td>
						</tr>
						<tr ng-hide="cart">
							<td><span class="text-danger">没有菜式</span></td>
						</tr>
			        </thead>
				</table>
			</div>
		</div>
		<hr ng-show="cart">
		<div ng-show="cart" class="row">
			<div class="col-xs-12">
				<h4 class="text-right well text-danger">合计:{{totalCart() | currency:'￥'}}</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<a ng-show="book.no" ng-href="#/dishes" class="pull-left btn btn-lg btn-info col-xs-4">选菜</a>
				<button ng-disabled="cartForm.$invalid" ng-show="cart" type="submit" class="pull-right col-xs-4 btn btn-lg btn-warning">结算</button>
			</div>
		</div>
	</form>
</div>