/* 订单页 */
body {
  padding-top: 70px;
}
.ovh{overflow: hidden;}
input.ng-invalid{
	border-color: #E9322D;
	box-shadow: 0 0 6px #F8B9B7;
}

/* 绑定页面 */
body.bind{padding-top: 0}
.myDiv{}
.card{
	position: relative;
	width: 250px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
.card img{}
.card .cardNo {
	bottom: -4px;
	color: #000000;
	font-size: 17px;
	left: 140px;
	position: absolute;
}