<!DOCTYPE html>
<html ng-app="myApp" ng-controller="appCtrl" >
<head>
<title ng-bind="title"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body class="bind">
<div class="jumbotron">
	<div class="container">
		<h1 ng-bind="title"></h1>
		<div class="row">
			<div class="myDiv">
				<form name="bindForm" class="form" ng-hide="isBind">
					<div class="form-group">
						<div>
							<input class="form-control input-lg" placeholder="姓名" ng-model="reg.name" required/>
						</div>
					</div>
					<div class="form-group">
						<div>
							<input class="form-control input-lg" placeholder="电话" ng-model="reg.tel" required/>
						</div>
					</div>
					<div class="form-actions">
						<div>
							<button ng-disabled="bindForm.$invalid" ng-click="memberReg()" type="button" class="btn-lg btn btn-success">注册</button>
						</div>
					</div>
				</form>
				<div ng-show="alertMsg" class="alert alert-danger help-block" ng-bind="alertMsg"></div>
				<div class="card" ng-show="isBind">
					<img class="img-responsive" src="img/card_bg.png">
					<span class="cardNo" ng-bind="wechat_cardno"></span>
				</div>
				<div class="row" ng-show="isBind">
					<div class="col-xs-12"><button ng-click="credit()" class="btn btn-info">{{creditBtnTitle}}</button></div>
				</div>
				<div class="row" ng-show="isBind&&showCredit">
					<div class="col-xs-12">
						<table class="table">
							<tr>
								<th>店名</th>
								<th>积分</th>
							</tr>
							<tr ng-repeat="item in creditList">
								<td ng-bind="item.vch_company"></td>
								<td ng-bind="item.credit"></td>
							</tr>
							<tr ng-hide="creditList">
								<td>查无积分</td>
								<td></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<footer>
		<p>&copy; 奄尖大少 2013</p>
	</footer>
</div> <!-- /container -->


<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="../lib/angular/angular.min.js"></script>
<script src="../lib/angular/angular-sanitize.min.js"></script>
<script src="js/global.js"></script>
<script>
var myApp = angular.module('myApp', ['ngSanitize']);
myApp.config(function($locationProvider){
    $locationProvider.html5Mode(true);
})
/*控制器*/
myApp.controller('appCtrl', ['$scope', '$location', '$http', '$sce', function ($scope, $location, $http, $sce) {
	$scope.reg = {};
	$scope.title = "会员绑定";
	$scope.creditBtnTitle = "显示积分";
	$scope.creditList = "";
	$scope.alertMsg = "";
	$scope.showCredit = false;
	var loc = $location.search();
	if( ! angular.isUndefined(loc.openid) ) {
		$http.get(getApiUrl('wechat_member_check?openid=' + loc.openid), {headers: AuthHeader})
		.success(function(response){
			$scope.isBind = response.status;
			if(response.status){
				$scope.title = "会员卡";
				$scope.wechat_cardno = "NO."+response.wechat_cardno;
				$scope.cardno = response.cardNo;
			}
		});
		$scope.reg.openid = loc.openid;

		$scope.memberReg = function () {
			$scope.alertMsg = '';
			$http.get(getApiUrl('wechat_member_bind'), {headers: AuthHeader, params: $scope.reg})
			.success(function(response){
				if(response.status){
					$scope.isBind = true;
					$scope.title = "会员卡";
					$scope.wechat_cardno = "NO."+response.wechat_cardno;
				}else{
					$scope.alertMsg = response.info;
				}
			});
		}

		$scope.credit = function () {
			$scope.showCredit = !$scope.showCredit;
			if($scope.showCredit){
				$scope.creditBtnTitle = "隐藏";
				$http.get(getApiUrl('wechat_member_credit'), { headers: AuthHeader, params: {cardNo: $scope.cardno} }).success(function(response){
					$scope.showCredit = true;
					$scope.creditList = response.credit_list;
				})
			}else{
				$scope.creditBtnTitle = "显示积分";
			}
		}
	}else{
		console.log(loc.openid);
	}
}])

</script>
</body>
</html>