<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="../lib/bootstrap-datetimepicker/css/datetimepicker.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body ng-controller="appCtrl">
<div role="navigation" class="navbar navbar-fixed-top navbar-inverse" ng-controller="navCtrl">
	<div class="container">
		<div class="navbar-header">
		  <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
		    <span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand">奄尖大少微下单</a>
		</div>
		<div ng-class="{collapse: collapse}" class="navbar-collapse collapse" style="height: 1px;">
		  <ul class="nav navbar-nav">
		    <li ng-repeat="item in links" title="{{item.title}}" ng-click="navActive(item.title)" ng-class="{ active: selectedNavItem == item.title}"><a ng-href="#{{item.url}}">{{item.name}}</a></li>
		  </ul>
		</div><!-- /.nav-collapse -->
	</div><!-- /.container -->
</div>
<ng-view></ng-view>


<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="../lib/angular/angular.min.js"></script>
<script type="text/javascript" src="../lib/angular/angular-route.min.js"></script>
<script type="text/javascript" src="../lib/angular/angular-resource.min.js"></script>
<script type="text/javascript" src="../lib/angular/angular-sanitize.min.js"></script>
<script type="text/javascript" src="../lib/angular/angular-cookies.min.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/route.js"></script>
<script type="text/javascript">
/*指令*/
myApp.directive('myDatetimepicker', [function () {
	return {
		restrict: 'A',
		require: "ngModel",
		link: function (scope, iElement, iAttrs, ngModelCtrl) {
			iElement.datetimepicker({
	            autoclose: true,
	            format: "yyyy-mm-dd hh:ii"
	        });
			var startDate = new Date();
	        var DateTime = startDate.getTime() + 60*60*1000;
	        startDate.setTime(DateTime);
	        iElement.datetimepicker('setStartDate', startDate);
	        iElement.on('changeDate', function(ev){
	        	ngModelCtrl.$setViewValue(ev.target.value);
	        })
		}
	};
}])

/*服务*/
myApp
.factory('usersService', ['$resource', function ($resource) {
	return $resource(getApiUrl("users/"), {}, {  
        query: {
        	method: "GET",
        	headers: AuthHeader
        }
    });
}])
.factory('ordersService', ['$resource', function ($resource) {
	return $resource(getApiUrl("orders/"), {}, {  
        get: {
        	method: "GET",  
        	params: {id: '@sn'}, 
        	headers: AuthHeader
        },
        query: {
        	method: "GET",
        	params: {},  
        	isArray: true, 
        	headers: AuthHeader
        },
        delDish:{
        	url: getApiUrl("orders_dish/id/:id"),
        	method: "DELETE",
        	params: {id: "@id"},
        	headers: AuthHeader
        }
    });
}]).factory('dishService', ['$resource', function ($resource) {
	return $resource(getApiUrl("dish/:id"), {}, {
		get: {
			method: "GET",  
			params: {id: '@sn'}, 
			headers: AuthHeader
		},
        query: {
        	method: "GET",
        	isArray: true,
        	headers: AuthHeader
        }
    });
}]).factory('bookService', ['$resource', function ($resource) {
	return $resource(getApiUrl("book/"), {}, {
		post: {
			method: "POST",
			headers: AuthHeader
		},
        postDetail:{
        	url: getApiUrl("book_detail/"),
        	method: "POST",
        	headers: postDataHeader
        }
    });
}]);

/*控制器*/
myApp
.controller('appCtrl', ['$scope', '$location', '$cookies', function ($scope, $location, $cookies) {
	$scope.book = {}; //预订信息
	$scope.book.no = ''; //预订单号
	$scope.cart = []; //购物车
	$scope.msg = {title: "404", content: "页面不存在"};

	//将openid存入cookies,防止用户刷新后openid丢失
	if(angular.isUndefined($location.search().openid)){
		$scope.book.openid = $cookies.openid;
		if(angular.isUndefined($cookies.openid)){
			$location.path('message');
		}
	}else{
		$scope.book.openid = $location.search().openid;
		$cookies.openid = $location.search().openid;
	}

}])
.controller('navCtrl', ['$scope', '$location', function ($scope, $location) {
	$scope.links = [
		{name: "下单", url: "/orders", title: "orders"},
		{name: "我的订单", url: "/myorders", title: "myorders"},
		{name: "购物车", url: "/cart", title: "cart"}
	];
	if(angular.isUndefined($scope.book.openid)){
		$scope.links.splice(1, 1);
	}

	$scope.collapse = false;
	$scope.navActive = function(title){
		$scope.selectedNavItem = title;
		$scope.collapse = true;
		console.log($scope.collapse);
	}

	var currentLocation = $location.path()
    for (var i = 0, len = $scope.links.length; i < len; i++) {
      var navItem = $scope.links[i]
      if (currentLocation == navItem.url) {
        $scope.selectedNavItem = navItem.title
      }
    }
}])
.controller('orderMsgCtrl', ['$scope', '$sce', function ($scope, $sce) {
	$scope.trustContent = $sce.trustAsHtml($scope.msg.content);
}])
.controller('ordersCtrl', ['$scope', 'usersService', '$http', '$location',function ($scope, usersService, $http, $location) {
	$scope.book.person = 1;
	$scope.book.table_nums = 1;
	$scope.usersList = usersService.query();

    $scope.bookSubmit = function(){
    	$http.post(getApiUrl('book/'), $.param($scope.book), {headers: postDataHeader}).success(function(response){
    		$scope.book.no = response.ch_bookno;
    		$scope.msg.title = '下单成功';
    		$scope.msg.content = '你的预订单号是: ' + $scope.book.no + "<br>是否继续点菜?";
    		$location.path('message')
    	});
    }
}])
.controller('myordersListCtrl', ['$scope', 'ordersService',function ($scope, ordersService) {
	if(!angular.isUndefined($scope.book.openid)){
		$scope.orderList = ordersService.query({openid: $scope.book.openid});
	}

	// 设置订单信息
	$scope.setBook = function (order) {
		$scope.book.no = order.ch_bookno;
		$scope.book.user_id = order.user_id;
	}
}])
.controller('myordersDetailCtrl', ['$scope', 'ordersService', '$routeParams', function ($scope, ordersService, $routeParams) {
	$scope.bookNo = $routeParams.sn;
	$scope.orderDetail = ordersService.get({sn: $routeParams.sn});
	$scope.total = function() {
		var total = 0;
		angular.forEach($scope.orderDetail.dishes, function (item, index) {
			// console.log(item);
			total = total + item.num_price * item.num_num;
		});
		return total;
	}

	$scope.removeDish = function(index, id, int_id) {
		$scope.orderDetail.dishes.splice(index, 1);
		ordersService.delDish({sn: $routeParams.sn, int_id: int_id},{id:id});
	}
}])
.controller('dishListCtrl', ['$scope', '$location', 'dishService', function ($scope, $location, dishService) {
	$scope.dishes = dishService.query({user_id: $scope.book.user_id});
}])
.controller('dishDetailCtrl', ['$scope', 'dishService', '$routeParams',  '$location', function ($scope, dishService, $routeParams, $location) {
	$scope.dish = dishService.get({DishId: $routeParams.DishId}, {headers: AuthHeader});

	$scope.addToCart = function(dish){
		if(angular.isUndefined(dish.memo)){
			dish.memo.vch_memo = "";
			dish.memo.ch_memono = "";
		}
		var cartItem = {};
		var exists = false;
		$scope.cart.forEach(function (item, index) {
			if (item.ch_dishno == dish.ch_dishno && item.ch_memono == dish.memo.ch_memono) {
				item.nums = item.nums + parseInt(dish.nums);
				exists = true;
				return;
			}
		});

		if (!exists) {
			cartItem.vch_dishname = dish.vch_dishname;
			cartItem.ch_dishno = dish.ch_dishno;
			cartItem.ch_memono = dish.memo.ch_memono;
			cartItem.vch_memo = dish.memo.vch_memo;
			cartItem.price = dish.num_price1;
			cartItem.ch_suitflag = dish.ch_suitflag == "Y" ? "P" : "N";
			cartItem.nums = dish.nums;
			$scope.cart.push(cartItem);
		}
		console.log($scope.cart);
		$location.path('dishes');
	}
}]).controller('cartCtrl', ['$scope', '$location', 'bookService', function ($scope, $location, bookService) {
	
	$scope.totalCart = function() {
		var total = 0;
		angular.forEach($scope.cart, function (item, index) {
			total = total + item.nums * item.price;
		});
		return total;
	}

	$scope.removeItem = function(index) {
		$scope.cart.splice(index, 1);
	}

	$scope.bookDish = function(){
		if($scope.cart.length > 0){		
			bookService.postDetail({}, {bookno: $scope.book.no, cart: $scope.cart}, function(response){
				if(response.status){
					$scope.msg.title = '下单成功';
					$scope.msg.content = '订单号: ' + $scope.book.no + "点菜成功,<br>餐费合计:  ￥" + $scope.totalCart();

					$scope.cart.length = 0; // 清空购物车
					$scope.book.no = '' // 清空订单号
					$location.path('message');
				}else{
					alert(response.info);
				}
			});
		}else{
			alert('购物车内没有任何菜式,请点菜');
		}
	}
}]);

</script>
</body>
</html>